{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block body %}

    <div class="row m-2 mb-5 ">
      <div class="col-sm">
        <section class="section-name bg padding-y">
            <div class="container">
            <h1>Распив оригинальной парфюмерии в Украине</h1>
            
            <p>Добро пожаловать в магазин распива оригинальной парфюмерии!<br>
                Название "РАСПИВ" придумано не случайно. Этим названием хотели отделить 
                <b>ОРИГИНАЛЬНУЮ</b> парфюмерию от РАЗЛИВНОЙ <br> или отливной, которая продаётся в каждом супермаркете
                ( лицензированые копии известных брендов)<br>
                <b>РАСПИВ</b>-это отлив из <b>ОРИГИНАЛЬНЫХ</b> флаконов( это могут быть тестера, флаконы-рефиллы)<br>
                определённого количества парфюма в ёмкости разных объёмов(пробирки, фиолы, атомайзеры).</p>
            
            </div></section>
      </div>
      <div class="col-sm">
                        <img src="/static/images/aboutpage/kilian.jpg" alt="распив оригинальной нишевой парфюмерии" class="img-fluid img-thumbnail">
    </div>
</div>


{% endblock %}
