{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block body %}
<br>
<div class="container mb-5 ">

    <div class="row m-2 mb-5 ">
      <div class="col-sm">
        <section class="section-name bg padding-y">
            <div class="container">
            <h1>Контакты</h1><br>
            
            <p class="h2"> <i class="fa fa-volume-control-phone" aria-hidden="true"> Вайбер:  <a href="viber://add?number=120345678910">+38(050)111-11-11 </a></i>
            </p>   
             
            <p class="h2"> 
            <i class="fa fa-phone" aria-hidden="true"> Телефон:<a href="tel:+78142332211"> +7(814)-233-22-11</a> </i>
            </p>
               
            <p class="h2"> 
            <i class="fa fa-instagram " aria-hidden="true"> Инстаграмм: <a href="https://www.instagram.com/_parfume_lover_/?hl=ru">@_parfume_lover_</a></i>
            </p>
            
            <p class="h2"> 
                <i class="fa fa-mobile " aria-hidden="true"> Сообщения о новинках в : <a href=" https://t.me/parfumeloverybot">Телеграм бот</a></i>
                </p>
    </div>
</section>
    </div>

</div>

<br>
{% endblock %}