{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block body %}

            <div class="container m-3 ">
                <br>
            <h1>Наши Контакты</h1>
       <br>
      <p>Г.Харьков Харьковская Область Украина</p>     
<h2>
    <i class="fa fa-phone" aria-hidden="true"> Телефон </i>
 32412341413
</h2>
         <br>
<p>
    <i class="fa fa-volume-control-phone" aria-hidden="true"> Вайбер </i>
    3452351234123421
</p>   
<br>
<p>
    <i class="fa fa-instagram " aria-hidden="true"> Инстаграмм </i>
 вцацуацаывыасы
</p>
<br><br><br><br>
</div>


{% endblock %}
