{% extends 'base.html' %}

{% block title %}

{{title}}

{% endblock %}


{% block body %}



	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
	
		<form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Редактировать профиль</legend>
                <div class="form-group">
                    {{ form.user.label(class="form-control-label") }}

                    {% if form.user.errors %}
                        {{ form.user(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user(class="form-control form-control-lg") }}
                    {% endif %}
				</div>
				
				<div class="form-group">
					{{ form.name.label(class="form-control-label") }}
					{% if form.name.errors %}
						{{ form.name(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.name(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.lastname.label(class="form-control-label") }}
					{% if form.lastname.errors %}
						{{ form.lastname(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.lastname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.lastname(class="form-control form-control-lg") }}
					{% endif %}
				</div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
			
			<div class="form-group">
				{{ form.city.label(class="form-control-label") }}
				{% if form.city.errors %}
					{{ form.city(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.city.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.city(class="form-control form-control-lg") }}
				{% endif %}
				</div>    
			<div class="form-group">
				{{ form.otdel.label(class="form-control-label") }}
				{% if form.otdel.errors %}
					{{ form.otdel(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.otdel.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.otdel(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.phone.label(class="form-control-label") }}
				{% if form.phone.errors %}
					{{ form.phone(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.otdel.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.phone(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="conteiner"  style="margin-left: 80%;">
			<div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
			</div></div>
</fieldset>
			
        </form>
		</article><!-- card-body.// -->
	</div> <!-- card .// -->
	
{% endblock %}
