{% extends 'base.html' %}

{% block title %}


{% endblock %}
{% block cart %}{{cartProduct}}{%endblock%}
{%block content%}

<section class="section-content padding-y">
	<div class="container">
	
	<div class="row">
		<aside class="col-md-3" style="padding-top: 65px;">
			
	<div class="card">

			<div class="filter-content collapse show" id="collapse_1" >
				
			</div>
			<form  action="" method="POST">
		<article class="filter-group">
			<header class="card-header">
				<a  data-toggle="collapse" data-target="#collapse_2" aria-expanded="false" >
					<i class="icon-control fa fa-chevron-down"></i>
					<p class="text-info">Бренды</p>
				</a>
			</header>
			<div class="filter-content collapse in" id="collapse_2" >
				<div class="card-body">
					<div class="card-body"> 
						{%for brand in brand%} 
						<label class="custom-control custom-radio" name="radio">
							<input type="radio" name="myfilter_brand" value="{{brand.brand}}"   class="custom-control-input">
							<div class="custom-control-label"  > {{brand.brand}} </div>
						  </label>{%endfor%}
		</div> 
			</div>
		</article> 
		<article class="filter-group">
			<header class="card-header">
				<a data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" >
					<i class="icon-control fa fa-chevron-down"></i>
					<p class="text-info"> Выбрать тип аромата </p>
				</a>
			</header>
			<div class="filter-content collapse in" id="collapse_5">
				<div class="card-body"> 
					{%for aromat in aromat%} 
					<label class="custom-control custom-radio">
						<input type="radio" name="myfilter_aromat" value={{aromat.aromat}} class="custom-control-input">
						<div class="custom-control-label"> {{aromat.aromat}} </div>
					  </label>{%endfor%}
				</div>
			</div>
		</article> 	
			<div class="filter-content collapse show" id="collapse_3">
				<div class="card-body">
					
					<div class="form-row">
					<div class="form-group col-md-6">
					
					</div>
					<button class="btn btn-block btn-primary">Выбрать</button>		
				</form>
				</div>
			</div>
		</article>
	</div> 
		</aside> 
		<main class="col-md-9">
	
	<header class="border-bottom mb-4 pb-3">

			<div class="form-inline">
				<span class="mr-md-auto">{{colvo}} Товаров </span>

					<select class="mr-2 form-control"  onchange ="if (this.value)window.location.href=this.value">
						<option value='/'>Сортировка : <option>
						<option value="/?sort=1">Сотировать по Имени<option>
						<option value="/?sort=2">Сотировать по Бренду<option>
						<option value="/?sort=3">Сотировать по Возростанию цены<option>
						<option value="/?sort=4">Сотировать по Убыванию цены <option>

					</select>

				
			</div>
	</header>
{%endblock%}	

{% block body %}

<div class="row"  >
	{%for item in pages.items%}
	<a href="/show?id={{item.id}}">
	<div class="col-md-4" >
		<figure class="card card-product-grid" >
			<div class="img-wrap" >
				{% if current_user.username==admin.name%}
				
				<div>   
					<a class="btn btn-success" href="/edit?id={{ item.id }}">редактировать</a>
	  
					<a class="btn btn-danger" href="/remove?id={{ item.id }}">удалить</a>
				  </div> 

				{%endif%} 
				{%if item.img1%}
			<img src="/static/images/{{item.img1}}" class="img-fluid w-100" alt="{{item.alt_txt}}">
				{%endif%}
				{%if item.img2%} 
				<img src="/static/images/{{item.img2}}" class="img-fluid w-100" alt="{{item.alt_txt}}">
				{%endif%} 
				{%if item.img3%}
				<img src="/static/images/{{item.img3}}" class="img-fluid w-100" alt="{{item.alt_txt}}">
				{%endif%} 
				<a class="btn-overlay" href="" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-cart-plus" aria-hidden="true" data-toggle="modal" data-target="#exampleModalCenter"></i> Быстрый заказ</a>
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <p class="modal-title" id="exampleModalLongTitle">Быстрый заказ</p>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
							<form action="/quickorder"  method="POST">
								{{ quick.hidden_tag() }}
								{{ quick.Name.label(for="formGroupExampleInput") }}

								{% if quick.Name.errors %}
									{{ quick.Name(class="form-control form-control-lg is-invalid") }}
									<div class="invalid-feedback">
										{% for error in quick.Name.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ quick.Name(class="form-control form-control") }}
								{% endif %}
								<div class="form-group">
								  
									{{ quick.Phone.label(for="formGroupExampleInput") }}

									{% if quick.Phone.errors %}
										{{ quick.Phone(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in quick.Phone.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ quick.Phone(class="form-control form-control") }}
									{% endif %}
								</div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
						  <button type="submit" class="btn btn-secondary" name="quickID" value="{{item.id}}">Заказать</button>
						</div>
					  </div>
					</form>
					</div>
				  </div>

			</div></a>
			<figcaption class="info-wrap">
				<div class="fix-height">
					
					<a href="/show?id={{ item.id}}" class="title" alt="{{item.alt_txt}}"><b>{{item.brand}}</b></a>
					<p>{{item.name}}</p>
					<div class="price-wrap mt-2">
						<span class="price ">{{item.price}} грн</span>
					</div>
				</div>
				<form action="" method="POST">
			</figcaption> <button name="item_to_cart" value={{item.id}} class="btn btn-outline-success">Добавить
				<i class="fas fa-shopping-cart ml-1"></i>
			</button>	</form>
		</figure>
	</div>	
	{% endfor %}
	</div>	


<nav aria-label="...">
  <ul class="pagination">
	<li {%if not pages.prev_num%} class="page-item disabled" {%else%} class="page-item " {%endif%}>
      <a class="page-link" href='./?page={{pages.prev_num}}' tabindex="-1">«</a>
	</li>

	{%for page in pages.iter_pages() %} 
	{%if  page==pages.page%} <li class="page-item active">{%endif%}
		{%if page %}

      <a class="page-link" href="./?page={{page}}">{{page}} <span class="sr-only">(current)</span></a>
	</li>
	{%else%}
	<li class="page-item disabled"><a class="page-link" href="">...</a></li>
	{%endif%}
	{% endfor %}

	<li {%if not pages.next_num%} class="page-item disabled" {%else%} class="page-item " {%endif%}>
		<a class="page-link" href="./?page={{pages.next_num}}">»</a>
	  
    </li>
</ul>
</nav>

		<img src="/static/images/uppp.png" alt="Наверх" title="Наверх" id="Go_Top" class="uppbottom">
	  </nav>

	  {% endblock %}