{% extends 'base.html' %}

{% block title %}


{% endblock %}

{%block content%}

{%endblock%}	


{% block body %}

<section class="section-content padding-y">
<div class="container">

<div class="row">

	<main class="col-md-9">

		<article class="card mb-3">
			<div class="card-body">
				<form action="" method="POST" name='edit'>
				<figure class="icontext">
						<div class="icon">
							<img class="rounded-circle img-sm border" src="/static/images/avatar/avatar.png">
						</div>
						<div class="text" >
							<strong> {{user.username}} </strong> <br> 
							{{user.email}}<br> 
						</div>
				</figure>
				<hr>
				<p>
					<div class="container">
					<i class="fa fa-map-marker text-muted"></i> &nbsp; Адрес доставки:  
					 
					<table class="table table-bordered">
						<thead>
						  <tr>
							<th scope="col">Город</th>
							<th scope="col">Отделение</th>
							<th scope="col">Телефон</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>{{user.city}}</td>
							<td>{{user.otdel}}</td>
							<td>{{user.phone}}</td>
						  </tr></table>

	<a class="btn btn-secondary" href="/edit-profile/{{ user.id }}">редактировать</a>				
				</p> <br></div>
			</form>

				

				<article class="card-group">
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">38</h5>
							<span>Orders</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">5</h5>
							<span>Wishlists</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">12</h5>
							<span>Awaiting delivery</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">50</h5>
							<span>Delivered items</span>
						</div>
					</figure>
				</article>
				

			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

		<article class="card  mb-3">
			<div class="card-body">
				<h5 class="card-title mb-4">Отзывы </h5>	
				<div class="row">
				<div class="col-md-6">
					{%for i in otzivy%}
					<figure class="itemside  mb-3">
						<div class="aside"><img src="{{i.img}}" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i>{{i.creationData}} </time><br>
							<b>{{i.author}}  </b>

							<form action="" method="POST" >
							<p > {{i.otziv}}  </p>	
						</figcaption> <button  name="delete" value={{i.id}} class="btn btn-link ">удалить</button>
							</form>

					</figure>
					{%endfor%}
				</div> <!-- col.// -->
				
			</div> <!-- row.// -->

			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{%endblock%}	
