{% extends 'base.html' %}

{% block title %}


{% endblock %}

{% block body %}

<section class="section-content padding-y">

	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
	
		<form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h1 class="border-bottom mb-4">Регистрация</h1>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label") }}
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirmPassword.label(class="form-control-label") }}
                    {% if form.confirmPassword.errors %}
                        {{ form.confirmPassword(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirmPassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmPassword(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
			<div class="form-group">
				{{ form.city.label(class="form-control-label") }}
				{% if form.city.errors %}
					{{ form.city(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.city.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.city(class="form-control form-control-lg") }}
				{% endif %}
				</div>    
			<div class="form-group">
				{{ form.otdel.label(class="form-control-label") }}
				{% if form.otdel.errors %}
					{{ form.otdel(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.otdel.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.otdel(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.phone.label(class="form-control-label") }}
				{% if form.phone.errors %}
					{{ form.phone(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.otdel.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.phone(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="pull-right">
			<div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
			</div></div>
</fieldset>
			
        </form>
		</article>
    </div> 
	{% endblock %}
