<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My resume</title>
    <link href="/static/css/styleresume.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
</head>
<body>
    <!-- main container-->
    <div class="my-container">
        <!-- about main info -->

        <aside class="myaside">
            <div >
                <img class="foto" src="/static/img/foto.jpg" alt="My foto">
                <!--Contacts -->
                <div class="contacts">
                    <h3 class="conttitle">Contacts</h3>
                    <div>
                        <span class="ce">C:</span>  <a class="cont" href="tel:380638994440">+380638994440 </a> </div>
                    <div>
                        <span class="ce">E:</span>  <a class="cont" href=" mailto:viniukovkirill@gmail.com"> viniukovkirill@gmail.com</a></div>
                </div>
                <!-- tech skils -->
                <div class="techskils">
                    <H3 class="tech-title">Tech skills</H3>
                    <ul>
                    <li class="tecitem"><span class="tecjtext">HTML</span> </li>
                    <li class="tecitem"><span class="tecjtext"> CSS</span></li>
                    <li class="tecitem"><span class="tecjtext"> PYTHON</span></li>
                    <li class="tecitem"><span class="tecjtext"> FLASK</span></li>

                    </ul>

                </div>
                <!--soft skills-->
                <div class="softs">
                    <H3 class="softtitle">Soft skills</H3>
                    <ul>
                    <li class="softitem"><span class="softtext">Collaboration</span> </li>
                    <li class="softitem"><span class="softtext">Confidence</span> </li>
                    <li class="softitem"><span class="softtext">Respect</span> </li>
                    <li class="softitem"><span class="softtext">Optimism</span> </li>
                    <li class="softitem"><span class="softtext">Persistence</span> </li>

                    </ul>

                </div>

            </aside>
        <!-- about me container -->
        <div class="mecon">
            <div class="info">
        <h2 class="python">Python backend developer</h2>
        <h1 class="name"> Vinukov Kirill </h1>
        <p class="desc"> Responsiveness, politeness, the ability to quickly find contact with people,<br>
         the ability to set priorities, an active life position, optimism,<br>
         the ability to easily maintain business and professional contacts

        </p>
            </div>
        <!-- my project -->
        <div class="pro-cont">
            <h3 class="project">Projects</h3>


                <ol>
                <li class="html"><a href="https://github.com/deft727/python-ecommerce-on-flask"> github ParfumeLover </a></li>
                <li class="html"><a href="http://parfumelover.herokuapp.com/"> heroku ParfumeLover </a></li>
                <li class="html"><a href="https://github.com/deft727/python-ecommerce-on-flask/blob/master/parsFromAromateq.py">Parser aromateq for Parfumelover</a></li>
                <li class="html"><a href="https://github.com/deft727/telegramBot"> Telegram bot for Parfumelover</a></li>
                <li class="html"><a href="http://zarj09.pythonanywhere.com/"> todolist</a></li>
                <li class="html"><a href="https://github.com/deft727/lessons/tree/master/analyze">СУБД</a></li>
               </ol>

            <div>
                <!-- work expeience -->
                <h3 class="project">Work Experience</h3>
                <!-- company -->
                <div>
                    <h4 class="front">Foxtrot manager </h4>
                    <span class="front">Septemder 2018 - November 2018</span>
                    
                </div>
                                <!-- company2 -->

                <div>
                    <h4 class="proff">chemical reagent plant <span class="free">master</span> </h4>
                    <span class="front">Septemder 2019 - December 2019</span>
                   
                                <!-- company2 -->

                    <div>
                        <h4  class="proff">time left<span class="free">sport complex hpi
                        </span></h4>
                        <span  class="front">Septemder 2017 up to now </span>
                      
                    </div>

                    <div  class="ul">
                        <h4 class="proff">Education</h4>
                        <span class="front">
                            "KPI" of automated technological systems and environmental monitoring</span>

                    </div>

</body>
</html>