<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My resume</title>
    <link href="/static/css/styleresume.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
</head>
<body>
    <!-- main container-->
    <div class="my-container">
        <!-- about main info -->

        <aside class="myaside">
            <div >
                <img class="foto" src="/static/img/foto.jpg" alt="My foto">
                <!--Contacts -->
                <div class="contacts">
                    <h3 class="conttitle">Contacts</h3>
                    <div>
                        <span class="ce">C:</span>  <a class="cont" href="tel:380638994440">+380638994440 </a> </div>
                    <div>
                        <span class="ce">E:</span>  <a class="cont" href=" mailto:zarj09@gmaol.com"> zarj09@gmail.com</a></div>
                </div>
                <!-- tech skils -->
                <div class="techskils">
                    <H3 class="tech-title">Tech skills</H3>
                    <ul>
                    <li class="tecitem"><span class="tecjtext">HTML</span> </li>
                    <li class="tecitem"><span class="tecjtext"> CSS</span></li>
                    <li class="tecitem"><span class="tecjtext"> PYTHON</span></li>
                    <li class="tecitem"><span class="tecjtext"> FLASK</span></li>

                    </ul>

                </div>
                <!--soft skills-->
                <div class="softs">
                    <H3 class="softtitle">Soft skills</H3>
                    <ul>
                    <li class="softitem"><span class="softtext">soft</span> </li>
                    <li class="softitem"><span class="softtext">firefox</span> </li>
                    <li class="softitem"><span class="softtext">chtome</span> </li>
                    <li class="softitem"><span class="softtext">opera</span> </li>

                    </ul>

                </div>

            </aside>
        <!-- about me container -->
        <div class="mecon">
            <div class="info">
        <h2 class="python">Python backend developer</h2>
        <h1 class="name"> Vinukov Kirill </h1>
        <p class="desc">О себе я напишу сюда но попозже
            немножечко позже ,ок? ок бро
        </p>
            </div>
        <!-- my project -->
        <div class="pro-cont">
            <h3 class="project">Projects</h3>


                <ol>
                <li class="html"><a href="https://github.com/deft727/lessons"> class сайты</a></li>
                <li class="html"><a href="https://github.com/deft727/python-ecommerce-on-flask"> ParfumeLover </a></li>
                <li class="html"><a href="https://\название2"> и все такое</a></li>
               </ol>

            <div>
                <!-- work expeience -->
                <h3 class="project">Work Experience</h3>
                <!-- company -->
                <div>
                    <h4 class="front">Front-end developer freelance</h4>
                    <span class="front">Septemder 2019 up to now</span>
                    <ul>
                        <li class="exp">comodo</li>
                        <li class="exp">elit</li>
                        <li class="exp">ewr</li>
                        <li class="exp">werwefsdvf</li>

                    </ul>
                </div>
                                <!-- company2 -->

                <div>
                    <h4 class="proff">Front-end developer <span class="free">freelance</span> </h4>
                    <span class="front">August 92</span>
                    <ul>
                        <li class="exp">comodo</li>
                        <li class="exp">elit</li>
                        <li class="exp">ewr</li>
                        <li class="exp">werwefsdvf</li>

                    </ul>
                                <!-- company2 -->

                    <div>
                        <h4  class="proff">Manager <span class="free">Roga & copyta</span></h4>
                        <span  class="front">Septemder 2019 up to now </span>
                        <ul>
                            <li class="exp">comodo</li>
                            <li class="exp">elit</li>
                            <li class="exp">ewr</li>
                            <li class="exp">werwefsdvf</li>

                        </ul>
                    </div>

                    <div>
                        <h4  class="proff">Maneger <span class="free"> Roga & copyta</span> </h4>
                        <span class="front">Septemder 2019 up to now</span>
                        <ul>
                            <li class="exp">1</li>
                            <li class="exp">2</li>
                            <li class="exp">3</li>
                            <li class="exp">4</li>

                        </ul>
                    </div>
                    <div  class="ul">
                        <h4 class="proff">Education</h4>
                        <span class="front">Харьков ХПИ , КИТ</span>

                    </div>



</body>
</html>