{% extends 'base.html' %}

{% block title %}


{% endblock %}

{%block content%}{%endblock%}	

{% block cart %}{{cartProduct}} {%endblock%}


{% block body %}


<main class="mt-5 pt-4" style="padding-bottom: 25px;">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <div class="container text-center">
                
                <div id="carousel" class="carousel slide d-inline-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{{content.img}}" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{content.img}}" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="/static/images/rem2ssg.jpg,em2ssg.jpg" alt="...">
                        </div>
                    </div>
                    <!-- Элементы управления -->
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Предыдущий</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Следующий</span>
                    </a>
                </div>
            
            </div>

        </div>

        
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            

            <h1>{{content.name}}</h1>
            <p >{{content.brand}}</p>

                {%if count%}
                <span  class="display-4"  >{{content.price*count}} грн</span>
                {%else%}
                <span  class="display-4"  >{{content.price}} грн</span>
                {%endif%}

            <p class="mytxt">{{content.content}}</p>

            <form action="/show?id={{content.id}}" method="POST" >
              <!-- Default input -->
              <form action="" method="POST" name="10">

              <div class="btn-group">
                <button type="button"   class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{valuecount}} мл
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item"  name='10' value='5'>5 мл</button> 
                  <button class="dropdown-item"  name='10' value='10'>10 мл</button> 
                  <button class="dropdown-item"  name='10' value='15'>15 мл</button> 
                  <button class="dropdown-item" name='10' value='20'>20 мл</button>
              </div> 
              
              <button name='add_to_cart' value={{count}} class="btn btn-primary">Добавить
                 <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> 
          </div>
   
                </div>
              </div>
            <table class="table">
              <thead>
                <tr>
                  <td>@tw127.0.0.1 - - [12/Jun/2020 14:21:24] "GET /favicon.ico HTTP/1.1" 200 -
                    127.0.0.1 - - [12/Jun/2020 14:21:40] "GET /show?id=2 HTTP/1.1" 200 -
                    127.0.0.1 - - [12/Jun/2020 14:21:41] "GET /examples/vendors/jquery/jquery-3.3.1.min.js HTTP/1.1" 200 -
                    127.0.0.1 - - [12/Jun/2020 14:21:41] "GET /examples/vendors/bootstrap-4.1/css/bootstrap.min.css HTTP/1.1" 200 -
                    127.0.0.1 - - [12/Jun/2020 14:21:41] "GET /examples/vendors/popper.js/popper.min.js HTTP/1.1" 200 -
                    127.0.0.1 - - [12/Jun/2020 14:21:41] "GET /examples/vendors/bootstrap-4.1/js/bootstrap.min.js HTTP/1.1" 200 -
                    127.0.0.1 - - [12/Jun/2020 14:21:41] "GET /favicon.ico HTTP/1.1" 200 -
                    itter</td>
                  </tr>
              </table>
          <!--Content-->

        
        <!--Grid column-->

      <!--Grid row-->

     
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Отзывы:</th>
        </tr>
      </thead>
      {%for i in x |sort(attribute='creationData')|reverse %}
      <tbody>
        <tr>
          <td  class="text-primary">{{i.author}}</td>
        </tr>
        <tr>
          <td class="font-italic">{{i.otziv}}
            {% if current_user.username==admin.name or current_user.username == i.author%}
           <form action="" method="POST">
              <button  name="deletePost" value={{i.id}} class="btn btn-light float-right">удалить</button>
              {%endif%} 
            </form>
            
          </td>
          {%else%}
           <td> Отзывов еще нет</td>
                   {%endfor%}

        </tr>
      </tbody>
    </table>

    <div class="container" style="max-width: 480px; margin-top:100px;">
        {%if current_user.is_authenticated%}
    
        <form method="POST" action="" >
          {{ form.hidden_tag() }}
    
              {{ form.Rev.label }}
    
              {% if form.Rev.errors %}
              {{ form.Rev}}
                      {% for error in form.Rev.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  
              {% else %}
                  {{ form.Rev(class="form-control form-control-lg") }}
              {% endif %}
              <div style="margin-left: 80%; padding-top: 5px;">
                {{  form.Btm(class="btn btn-primary") }} 
                
                {%endif%}
          </div>

      
  </main>
 


  {% endblock %}
